@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");

body {
  width: 100%;
  max-width: 1400px;
  display: block;
  margin: auto;
  min-height: 100vh;
  background: #1a1a1a/*#191919*/;
  font-family: sans-serif;
}

.navbar {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9;
  background: #1a1a1a;
}

.link-group {
  list-style: none;
  display: flex;
}

.link a:hover,
.link.active a {
  opacity: 1;
}

/* home section*/

/*responsiveness*/
@media screen and (max-width: 540px) {
  .hero-heading {
    color: #fff;
    font-size: 70px;
    text-transform: capitalize;
    font-weight: 300;
    margin-left: 30vw;
    z-index: 5;
    font-family: "Poppins", sans-serif;
  }
  .home-img {
    position: absolute;
    top: 20vh;
    right: 0;
    height: 70vh;
    width: 90%;
    object-fit: cover;
    opacity: 0.2;
  }
  .home-section {
    width: 100%;
    height: 100vh;
    padding: 10px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
  }
  .link a {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 2.5vw;
    margin: 0 20px;
    line-height: 80px;
    transition: 0.5s;
    font-size: 20px;
  }
  * {
    margin: 0;
    padding: 0;
  }
  .home-section {
    box-sizing: border-box;
  }
  .about-section {
    width: 100%;
    min-height: 100vh;
    padding: 80px 0;
    position: fixed;
    opacity: 0;
    top: 0;
    transition: 0.25s;
  }
  .about {
    width: 100%;
    /*display: grid;
    grid-template-columns: 30% 65%;
    gap: 40px;*/
  }
  .about-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border-radius: 20px;
  }
  .about-info {
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
    text-align: center;
  }
  .skills-container {
    position: relative;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    color: #fff;
  }
  
  .skill-img {
    margin: auto;
    display: block;
    height: 70px;
  }
  .project-img {
    width: 65px;
    height: 65px;
    z-index: 4;
    margin-top: 20px;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .project-section {
    box-sizing: none;
  }

  .home-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    object-fit: cover;
    opacity: 0.2;
  }

  .hero-heading {
    color: #fff;
    font-size: 100px;
    text-transform: capitalize;
    font-weight: 300;
  }

  .home-section {
    width: 100%;
    height: 100vh;
    padding: 0 120px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
  }
  .link a {
    color: #fff;
    text-decoration: none;
    opacity: 0.5;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: 0.5s;
    font-size: 20px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .about {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 40px;
  }
  .about-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
  }
  .about-info {
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
  }
  .skills-container {
    position: relative;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    color: #fff;
  }
  .skill-img {
    margin: auto;
    display: block;
    height: 100px;
  }
  .project-img {
    width: 6vw;
    height: 6vw;
    z-index: 4;
    margin-top: 20px;
  }
}

@media screen and (min-width: 780px) {
  .hero-heading {
    color: #fff;
    font-size: 150px;
    text-transform: capitalize;
    font-weight: 300;
  }
  .home-img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 50%;
    object-fit: cover;
    opacity: 0.2;
  }
  .home-section {
    width: 100%;
    height: 100vh;
    padding: 0 120px;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
  }
  .link a {
    color: #fff;
    opacity: 0.5;
    text-decoration: none;
    text-transform: capitalize;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: 0.5s;
    font-size: 20px;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .about-section {
    width: 100%;
    min-height: 100vh;
    padding: 150px 100px 0;
    position: fixed;
    opacity: 0;
    top: 0;
    transition: 1s;
  }
  .about {
    width: 100%;
    display: grid;
    grid-template-columns: 30% 65%;
    gap: 40px;
  }
  .about-info {
    color: #fff;
    opacity: 0.6;
    font-size: 20px;
    line-height: 40px;
  }
  .skills-container {
    position: relative;
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    color: #fff;
  }
  .skill-img {
    margin: auto;
    display: block;
    height: 100px;
  }
  .project-img {
    width: 6vw;
    height: 6vw;
    z-index: 4;
    margin-top: 20px;
  }
}

.home-section.active,
.project-section.active,
.about-section.active {
  position: relative;
  opacity: 1;
  z-index: 8;
}

/* project section */

.project-section {
  margin: 0;
  opacity: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.project-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  min-height: 100vh;
}

.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 40px 0;
}

.project-container .project-card {
  position: relative;
  min-width: 320px;
  height: 440px;
  box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.2),
    inset -5px -5px 15px rgba(255, 255, 255, 0.1),
    5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  margin: 30px;
  transition: 0.5s;
}

.project-container .project-card:nth-child(1) .project-box .project-content .project-link {
  background: #2196f3;
}
.project-container .project-card:nth-child(2) .project-box .project-content .project-link {
  background: #e91e63;
}
.project-container .project-card:nth-child(3) .project-box .project-content .project-link {
  background: #23c186;
}

.project-container .project-card .project-box {
  position: absolute;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: #2a2b2f;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;
}

.project-container .project-card .project-box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.03);
}



.project-container .project-card .project-box .project-content {
  padding: 20px;
  text-align: center;
  z-index: 5;
}

.project-container .project-card .project-box .project-content .user-github {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: none;
}


.project-container .project-card .project-box .project-content h2 {
  position: absolute;
  top: -10px;
  right: 30px;
  font-size:/*8*/ 4rem;
  color: rgba(255, 255, 255, 0.1);
}

.project-container .project-card .project-box .project-content h3 {
  font-size: 1.8rem;
  color: #fff;
  z-index: 1;
  transition: 0.5s;
  margin-bottom: 15px;
}

.project-container .project-card .project-box .project-content p {
  font-size: 1rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.9);
  z-index: 1;
  transition: 0.5s;
}

.project-container .project-card .project-box .project-content .project-link {
  position: relative;
  display: inline-block;
  padding: 8px 20px;
  background: black;
  border-radius: 5px;
  text-decoration: none;
  color: white;
  margin-top: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: 0.5s;
}
.project-container .project-card .project-box .project-content .project-link:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.6);
  background: #fff;
  color: #000;
}
.project-section {
  width: 100%;
  min-height: 100vh;
  padding: 150px 0px 0px 0px;
  position: fixed;
  top: 0;
  transition: 1s;
  opacity: 0;
}
/*
.project-card {
  height: 400px;
  position: relative;
}

.project-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  transition: 0.5s;
}

.project-title {
  font-size: 50px;
  text-transform: capitalize;
  text-align: center;
  font-weight: 300;
}

.project-btn {
  height: 40px;
  text-transform: capitalize;
  font-size: 18px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

.project-btn.live {
  background: none;
  border: 2px solid #fff;
}
.project-btn.github {
  background: none;
  border: 2px solid #fff;
}
*/
/* about section */

.about-img-container {
  position: relative;
}

.download-cv-btn {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  color: #fff;
  border: none;
  font-size: 16px;
  text-transform: capitalize;
  cursor: pointer;
  transition: 0.5s;
  background: rgba(0, 0, 0, 0.5);
}

.download-cv-btn:hover {
  background: #000;
}

/* skills */
/*
.skill-card {
  height: 200px;
  border-radius: 10px;
  border: 1px solid #464646;
  text-align: center;
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

.skill {
  font-size: 2rem;
  color: #464646;
  line-height: 200px;
}

.skill-card:hover {
  background: var(--bg);
}

.skill-card:hover .skill {
  color: #fff;
}

.skill-card.large {
  grid-column: 2 span;
}
*/
.heading {
  text-align: center;
  font-size: 60px;
  color: #fff;
  text-transform: capitalize;
  font-weight: 300;
  margin-bottom: 100px;
}
/* dials and icons*/

.skill-section {
  position: relative;
  margin: 100px 0;
}


.skill-card {
  position: relative;
}


.skill-name {
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  margin: 30px 0 20px;
}

.skill-info {
  text-align: center;
  opacity: 0.5;
  font-size: 10px;
  line-height: 30px;
}

.skill-level {
  position: absolute;
  top: 80px;
  right: 0;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  border-radius: 50%;
  border: 10px solid black;
}

.skill-card:nth-child(1) .skill-level {
  background: #ff4f4f28;
  border-color: #ff4f4f;
  color: #ff4f4f;
}

